.bg-dark h1{
    color: white;
}

.nav-card{
    margin-top: 10px;
}

.dark{
    background-color: darkgoldenrod;
}

.dark div{
    background-color: white;
}

.container-xxl {
    max-width: 1600px;
}

.img-box{
    margin-right: 15px;
    position: relative;
}

.img{
    border-radius: 50%;
}

#nav-avater-menu{
    position: absolute;
    
}

.search-menu{

    width:  1250 px;

}

.center-text{
    width:60%;
    margin: auto;
}

nav .title{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.bg-dark p{
    color: white;
}

h3{
    color: white;
}

footer{
    padding: 5px;
}

footer p{
    color: gray;
    margin: auto;
    text-align: center;
}


.badge-center{
    margin-top: auto;
    margin-bottom: auto;
}

.samebg{
    background-color: rgb(43, 48, 53);
}